.THIS .pointerNone{
    pointer-events: none;
}
.THIS .openBox {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.40);
    margin-top: 1rem;
}
.THIS .errorBorder {
    border: solid 1px red;
    box-shadow: 0 0 6px 1px #2b2b5a!important;
}
.THIS .inlineDisplay {
    display: inline-flex;
}
.THIS .borderRight {
    border-right: 1px solid #ddd;
}
.THIS .font18 {
    font-size:18px;
}
.THIS .pointer {
    cursor: pointer;
}
.THIS .templateConfigSpinner {
    position: absolute;
}
.THIS .column-Item-design{
    padding: 7px 14px;
    min-height: 48px;
}
.THIS .row-margin {
    margin-top: 10px;
}
.THIS .seprator2 {
    margin: 4px;
}
.THIS .top-margin {
    margin-top: 21px;
}
.THIS .flex-display {
    display:flex;
}
.THIS .newIcon svg {
    fill: token(addIconColor) !important;
}
.THIS .banIcon svg {
    fill: token(removeIconColor) !important;
}
.THIS .headerRuler {
    margin: 0;
}
.THIS .seprator {
    margin: 0;
}
.THIS .txtLabel {
    padding: 2px 0 0 10px;
}
.THIS .txtLabel2 {
    padding: 5px 0 0 10px;
}
.THIS .headerSection {
    padding: 12px;
}
.THIS .headerText {
    font-size: 16px;
    padding: 4px;
}
.THIS .fieldComboBox .slds-dropdown {
    min-width: 200px;
}
.THIS .hide-error-message > .slds-form-element__help {
    display: none;
}
.THIS .fieldSelectbox option:disabled {
    color: #bbb;
}
.THIS .numberInputDesign {
    width : 76px;
}
.THIS .toggleBtn .slds-checkbox_on {
    display: none !important;
}
.THIS .toggleBtn .slds-checkbox_off {
    display: none !important;
}
.THIS .clsFieldset {    
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    display: block;    
}
.THIS .clsLegend {    
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    display: block;
}
.THIS .sectionHeaderBackground {
    background-color: lightgrey;
}
.THIS .sectionHeaderErrorBackground {
    background-color: antiqueWhite;
}
.THIS .boxBorder {
    border: 1px solid black;
}
.THIS .boxBorderError {
    border: 1px solid red;
}